<h1 class="text-center">Restaurant System</h1>
<div class="d-flex justify-content-center w-100 align-items-center">
    <div class="flex-wrap d-flex container m-2 p-1  shadow w-75 justify-content-center wrap" style="border-radius: 50px !important;border:solid rgba(255, 166, 0, 0.76) 1px;">
        <a class="btn btn-success m-2" href="/staff/manager/employees">Employees</a>
        <a class="btn btn-success m-2" href="/staff/manager/restaurant">Your Restaurant</a>
        <a class="btn btn-success m-2" href="/staff/manager/dishes">Dishes</a>
        <a class="btn btn-success m-2" href="/staff/manager/coupons">Coupons</a>
        <a class="btn btn-success m-2" href="/staff/manager/deliveries">Deliveries</a>
    </div>
</div>