<div class="container m-2">
    <a class="btn btn-success m-2" href="/staff/manager/employees">Employees</a>
    <a class="btn btn-success m-2" href="/staff/manager/dishes">Dishes</a>
    <a class="btn btn-success m-2" href="/staff/manager/deliveries">Deliveries</a>
</div>