@model RestaurantSystem.Models.DatabaseModels.UserModel;

<body>
    <div>

        <a class="btn btn-primary m-2" href="/cart">🛒</a>

        <a class="btn btn-primary m-2" href="/orders">Orders</a>

        <a class="btn btn-primary m-2" href="/dishes">Dishes</a>

        <a class="btn btn-primary m-2" href="/reservations">Reservations</a>

        <a class="btn btn-primary m-2" href="/restaurants">Restaurants</a>

        <a class="btn btn-primary m-2" href="/addresses">Your Addresses</a>

        <a class="btn btn-primary m-2" href="/profile">
            @{
                if (Model.Image != null && Model.Image.Length > 0)
                {
                    <img src="@Model.Image" class="mt-2 rounded img-thumbnail">
                }
            }
            <p>@Model.Name</p>
        </a>

        <button class="btn btn-danger m-2" type="button" onclick="Logout()">Log Out</button>
        <i class="bi bi-box-arrow-right"></i>
    </div>

</body>

                 