@model RestaurantSystem.Models.DatabaseModels.UserModel;

<body>
    <div>

        <button type="button" onclick="goToCart()">🛒</button>

        <button type="button" onclick="goToOrders()">Orders</button>

        <button type="button" onclick="goToDishes()">Dishes</button>

        <button type="button" onclick="goToReservations()">Reservations</button>
        <button type="button" onclick="goToAddresses()">Your Addresses</button>

        <button type="button" onclick="goToProfile()">
            @{
                if (Model.Image != null && Model.Image.Length > 0)
                {
                    <img src="@Model.Image" class="mt-2 rounded img-thumbnail">
                }
            }
            <p>@Model.Name</p>
        </button>

        <button type="button" onclick="Logout()" id="logout">Log Out</button>
        <i class="bi bi-box-arrow-right"></i>
    </div>

</body>

                 