@using RestaurantSystem.Enums
@model RestaurantSystem.Models.DatabaseModels.UserModel;

<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-lg rounded p-3 mb-4 d-flex justify-content-around border border-top-0 border-end-0 border-start-0 border-warning" data-bs-theme="auto">
    <div class="p-2">
        @await Html.PartialAsync("_RestaurantLogoText")
    </div>
    
    <div class="container flex-wrap">
        <div class="d-flex flex-wrap gap-2 me-auto mb-2 mb-lg-0">
            <a class="btn btn-primary btn-hover-outline-primary" href="/cart">
                <i class="bi bi-cart me-1"></i> Cart
            </a>
            <a class="btn btn-primary btn-hover-outline-primary" href="/orders">
                <i class="bi bi-receipt-cutoff me-1"></i> Orders
            </a>
            <a class="btn btn-primary btn-hover-outline-primary" href="/dishes">
                <i class="bi bi-leaf me-1"></i> Menu
            </a>
            <a class="btn btn-primary btn-hover-outline-primary" href="/reservations">
                <i class="bi bi-calendar-check me-1"></i> Reservations
            </a>
            <a class="btn btn-primary btn-hover-outline-primary" href="/restaurants">
                <i class="bi bi-shop me-1"></i> Restaurants
            </a>
            <a class="btn btn-primary btn-hover-outline-primary" href="/addresses">
                <i class="bi bi-geo-alt me-1"></i> Your Addresses
            </a>

            @if (Model.Roles.Any(r => RoleEnum.manager.ToString().Equals(r.RoleName, StringComparison.OrdinalIgnoreCase)))
            {
                <a class="btn btn-success btn-hover-outline-success" href="/staff/manager/employees">
                    <i class="bi bi-people me-1"></i> Staff Panel
                </a>
            }
            else if (Model.Roles.Any(r => RoleEnum.cook.ToString().Equals(r.RoleName, StringComparison.OrdinalIgnoreCase)))
            {
                <a class="btn btn-success btn-hover-outline-success" href="/staff/dishes">
                    <i class="bi bi-people me-1"></i> Staff Panel
                </a>
            }
            else if (Model.Roles.Any(r => RoleEnum.waitress.ToString().Equals(r.RoleName, StringComparison.OrdinalIgnoreCase)))
            {
                <a class="btn btn-success btn-hover-outline-success" href="/staff/orders">
                    <i class="bi bi-people me-1"></i> Staff Panel
                </a>
            }
            else if (Model.Roles.Any(r => RoleEnum.delivery.ToString().Equals(r.RoleName, StringComparison.OrdinalIgnoreCase)))
            {
                <a class="btn btn-success btn-hover-outline-success" href="/staff/delivery/address">
                    <i class="bi bi-people me-1"></i> Staff Panel
                </a>
            }
        </div>

        <div class="d-flex align-items-center gap-3">
            <a class="text-decoration-none d-flex flex-column align-items-center" href="/profile">
                @if (Model.Image != null)
                {
                    <img src="@Model.Image" class="rounded-circle shadow-lg border border-warning border-3 object-fit-cover" width="100" height="100" />
                }
                <p class="fw-bold">@Model.Name</p>
            </a>

            <button class="btn btn-danger btn-hover-outline-danger" type="button" onclick="Logout()">
                <i class="bi bi-box-arrow-right me-1"></i> Log Out
            </button>
        </div>
    </div>

    <div class="p-2">
        @await Html.PartialAsync("_ChangeTheme")
    </div>
</nav>
