@model RestaurantSystem.Models.DatabaseModels.UserModel;

<body>
    <div>

        <button onclick="goToCart()">🛒</button>

        <button onclick="goToOrders()">Orders</button>

        <button onclick="goToDishes()">Dishes</button>

        <button onclick="goToReservations()">Reservations</button>

        <button onclick="goToProfile()">
            @{
                if (Model.Image != null && Model.Image.Length > 0)
                {
                    <img src="@Model.Image" class="mt-2 rounded img-thumbnail">
                }
            }
            <p>@Model.Name</p>
        </button>


        <div class="input-group">
            <button onclick="Logout()" id="logout">Log Out</button>
            <i class="bi bi-box-arrow-right"></i>
        </div>
    </div>

</body>

                 