@model RestaurantSystem.Models.DatabaseModels.RestaurantModel;

<body>
    <div>
           <p>Restaurant: @string.Join(", ", Model.Address,
                     Model.City, Model.State, Model.Country)</p>
        
    </div>

</body>

