@model string;

@{
    Dictionary<string, List<string>> countriesWithStates = new Dictionary<string, List<string>>()
    {
        { "Australia", new List<string> { "Queensland", "New South Wales", "Victoria", "Western Australia", "South Australia", "Tasmania" } },
        { "Brazil", new List<string> { "Bahia", "São Paulo", "Rio de Janeiro", "Minas Gerais", "Paraná" } },
        { "India", new List<string> { "Maharashtra", "Uttar Pradesh", "Tamil Nadu", "Kerala", "Gujarat" } },
        { "Argentina", new List<string> { "Buenos Aires", "Córdoba", "Santa Fe", "Mendoza", "Tucumán" } },
        { "Germany", new List<string> { "Bavaria", "North Rhine-Westphalia", "Hesse", "Saxony", "Berlin" } },
        { "Mexico", new List<string> { "State of Mexico", "Jalisco", "Nuevo León", "Puebla", "Chiapas" } },
        { "Myanmar", new List<string> { "Kachin State", "Shan State", "Chin State", "Mon State", "Rakhine State" } },
        { "Nigeria", new List<string> { "Lagos", "Kano", "Kaduna", "Rivers", "Anambra" } },
        { "Russia", new List<string> { "Moscow Oblast", "Tatarstan", "Sakha", "Krasnoyarsk Krai", "Chechnya" } },
        { "United States", new List<string> { "California", "Texas", "New York", "Florida", "Illinois" } },

        { "Malaysia", new List<string> { "Selangor", "Johor", "Sabah", "Sarawak", "Penang" } },
        { "South Sudan", new List<string> { "Central Equatoria", "Jonglei", "Upper Nile", "Warrap", "Unity" } },
        { "Sudan", new List<string> { "Khartoum", "North Darfur", "Red Sea", "Gezira", "South Kordofan" } },
        { "Venezuela", new List<string> { "Miranda", "Zulia", "Lara", "Bolívar", "Anzoátegui" } },
        { "Micronesia", new List<string> { "Yap", "Chuuk", "Pohnpei", "Kosrae" } },
        { "Ethiopia", new List<string> { "Oromia", "Amhara", "Tigray", "Somali", "Sidama" } },
        { "Pakistan", new List<string> { "Punjab", "Sindh", "Khyber Pakhtunkhwa", "Balochistan", "Gilgit-Baltistan" } },
        { "United Arab Emirates", new List<string> { "Abu Dhabi", "Dubai", "Sharjah", "Ajman", "Fujairah" } },
        { "Palestine", new List<string> { "Gaza", "West Bank" } }
    };

    bool hasStates = countriesWithStates.ContainsKey(Model);
    List<string> states = hasStates ? countriesWithStates[Model] : new List<string>();
}


<select id="state" name="state" class="form-control" @(hasStates ? "" : "disabled")>
    @if (hasStates)
    {
        @foreach (var state in states)
        {
            <option value="@state">@state</option>
        }
    }
    else
    {
        <option value="">No states available</option>
    }
</select>
