@model RestaurantSystem.Models.View.Messages.MessageViewModel;

@if (TempData.Peek(Model.Key) != null)
{
    <div class="alert alert-warning alert-dismissible fade show shadow-sm" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        @Model.Message
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    TempData.Remove(Model.Key);
}