body {
    background-color: rgb(196, 196, 196);
    align-items: center;
    text-align: center;
    flex-direction: column;
}




#image {
    height: 300px;
    border-radius: 20px;
    width: 300px;
    margin: 20px;
    padding: 10px;
}


#review {
    height: 300px;
    border-radius: 20px;
    width: 300px;
    margin: 20px;
}

#edit {
    font-size: 20px;
    background-color: rgb(114, 222, 6);
    text-align: center;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}



button {
    padding: 10px;
    margin: 40px;
    font-size: 18px;
    border-radius: 5px;
}

