@using RestaurantSystem.Models.View.Messages;
@{
    ViewData["Title"] = "Login - Savans Restaurant";
}

<head>
    @await Html.PartialAsync("_Header")
</head>


@await Html.PartialAsync("_ChangeTheme")

<div class="d-flex py-4">
    <div class="form-signin m-auto">
        <div class="container align-items-center">
            <div>
                @await Html.PartialAsync("_RestaurantLogoText")
                <p class="text-center text-muted mb-3">Forgot your password?</p>
            </div>

            <div class="form-floating">
                <input type="email" class="form-control" id="Email" placeholder="name@example.com" maxlength="50" value="@TempData["Email"]">
                <label for="Email">
                    <i class="bi bi-envelope-fill me-2"></i>Email <span class="text-danger">*</span>
                </label>
            </div>

            <button class="btn btn-primary btn-lg my-3" type="button" onclick="requestCode()">Requests Verification Code</button>
            <div>
                @await Html.PartialAsync("_SuccessMessage", new MessageViewModel
                {
                    Key = "RequestCodeSuccess",
                    Message = "Verification code has been successfully sent to the email you have provided!"
                })

                @await Html.PartialAsync("_ErrorMessage", new MessageViewModel
                {
                    Key = "RequestCodeError",
                    Message = "Error while requesting the code. Please try again later."
                })

                @await Html.PartialAsync("_ErrorMessage", new MessageViewModel
                {
                    Key = "ExpTime",
                    Message = "Code expired. Please try again later."
                })

                @await Html.PartialAsync("_ErrorMessage", new MessageViewModel
                {
                    Key = "VerificationError",
                    Message = "That is invalid code. Please try again later."
                })
                @await Html.PartialAsync("_ErrorMessage", new MessageViewModel
                {
                    Key = "ResetError",
                    Message = "Error while setting your new password. Please try again later."
                })
                @await Html.PartialAsync("_SuccessMessage", new MessageViewModel
                {
                    Key = "ResetSuccess",
                    Message = "Updated your password successfully!"
                })
                <div class="form-floating">
                    <input type="text" class="form-control" id="Code" placeholder="Verification Code...">
                    <label for="Code">
                        <i class="bi bi-lock-fill me-2"></i>Verification Code <span class="text-danger">*</span>
                    </label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="NewPassword" placeholder="New Password...">
                    <label for="NewPassword">
                        <i class="bi bi-lock-fill me-2"></i>New Password <span class="text-danger">*</span>
                    </label>
                </div>
                <button class="btn btn-success w-100 py-2 fw-semibold text-dark" type="button" onclick="submitNewPassword()">
                    Set Password
                </button>
            </div>

            <div class="text-center mt-4">
                <p class="text-muted">Don't have an account?</p>
                <a class="btn btn-outline-warning" href="/register">
                    <i class="bi bi-person-plus-fill me-2"></i>Sign Up
                </a>
            </div>

            <div class="text-center mt-4">
                    <p class="text-muted">Already have an account?</p>
                    <a class="btn btn-outline-warning" href="/login">
                        <i class="bi bi-box-arrow-in-left me-2"></i>Go to Login
                    </a>
                </div>

            <p class="mt-4 mb-3 text-body-secondary text-center">
                <i class="bi bi-c-circle me-1"></i>2023-2030 Savanas Restaurant
            </p>
        </div>
    </div>

    @await Html.PartialAsync("_Footer")
    <script src='~/assets/login/login.js'></script>
</div>