@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}



<head>
    <link rel='stylesheet' type='text/css' media='screen' href='login/login.css'>
    
    @RenderBody()
</head>

<body>

    <h1>Login</h1>

    <div class="login">

        <label>Email</label>
        <input type="email" id="Email" maxlength="50" placeholder="Email" required>
        <br>
        <label>Password</label>
        <input type="password" id="Password" placeholder="Password" required>
        <br>
        <label>Remember Me?</label>
        <input type="checkbox" id="RememberMe">
        <br>
        <p id="Stats"></p>
        <br>

        <button onclick="submit()">Login</button>
    </div>

    <button onclick="goToRegister()">Go to Register</button>
    <script src='login/login.js'></script>
</body>
