@using RestaurantSystem.Models.Form;

@{
    ViewData["Title"] = "Login";
    LoginFormModel login = TempData["Login"] as LoginFormModel ?? new LoginFormModel()
    {
                Email = string.Empty,
                Password = string.Empty,
                RememberMe = false
    };
}



<head>
    @await Html.PartialAsync("_Header")
</head>

<body>

    <h1>Login</h1>

    <div class="login">

        <label>Email</label>
        <input type="email" id="Email" maxlength="50" placeholder="Email" value="@login.Email" required>
        <br>
        <label>Password</label>
        <input type="password" id="Password" placeholder="Password" value="@login.Password" required>
        <br>
        <label>Remember Me?</label>
        <input type="checkbox" id="RememberMe" value="@login.RememberMe">
        <br>
        <p id="Stats"></p>
        <br>

        <button type="button" class="btn btn-success m-2" onclick="submit()">Login</button>
    </div>

    <a class="btn btn-primary m-2" href="/register">Go to Register</a>
    @await Html.PartialAsync("_Footer")
    <script src="~/assets/index.js"></script>
    <script src='~/assets/login/login.js'></script>
</body>
