@using RestaurantSystem.Models.Form;

@{
    ViewData["Title"] = "Login";
    LoginFormModel login = TempData["Login"] as LoginFormModel ?? new LoginFormModel()
    {
                Email = string.Empty,
                Password = string.Empty,
                RememberMe = false
    };
}



<head>
    <link rel='stylesheet' type='text/css' media='screen' href='~/assets/login/login.css'>

    @await Html.PartialAsync("_Imports")

</head>

<body>

    <h1>Login</h1>

    <div class="login">

        <label>Email</label>
        <input type="email" id="Email" maxlength="50" placeholder="Email" value="@login.Email" required>
        <br>
        <label>Password</label>
        <input type="password" id="Password" placeholder="Password" value="@login.Password" required>
        <br>
        <label>Remember Me?</label>
        <input type="checkbox" id="RememberMe" value="@login.RememberMe">
        <br>
        <p id="Stats"></p>
        <br>

        <button onclick="submit()">Login</button>
    </div>

    <button onclick="goToRegister()">Go to Register</button>
    @await Html.PartialAsync("_BottomImports")
    <script src='~/assets/login/login.js'></script>
</body>
