.reservation_navigation {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}


.reservation_navigation button {
    border-radius: 10px;
    background-color: rgb(52, 200, 19);
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}

#reservation_status {
    color: rgb(219, 36, 36);
    font-size: 17px;
    padding: 10px;
}

.reserve {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reserve button {
    background-color: rgb(49, 195, 61);
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

.reservation_view {
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}

.reservation_view .status {
    font-size: 27px;
    font-style: italic;
}

.reservation_view .notes_view {
    margin-left: 30px;
    margin-right: 30px;
}

.reservation_view .notes_view .notes_title {
    font-size: 20px;
    font-style: italic;
}

.reservation_view .notes_view .notes {
    font-size: 18px;
    background-color: bisque;
    border-radius: 10px;
    padding: 10px;
}

.reservation_view .part {
    font-size: 20px;
    font-style: italic;
}

.reservation_view .cancel {
    background-color: rgb(204, 56, 56);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    width: 100px;
    cursor: pointer;
}