@model RestaurantSystem.Models.View.Dish.DishesViewModel;

@{
    ViewData["Title"] = "Dishes";
}

<head>
    @await Html.PartialAsync("_Header")
    <script src='~/assets/dishes/dish.js'></script>
</head>


<body>

    @await Html.PartialAsync("_NavBar", Model.User)
    @await Html.PartialAsync("_RestaurantBar", Model.Restaurant)

    <a class="btn btn-success m-2" href="/dishes/salad">Salads</a>
    <a class="btn btn-success m-2" href="/dishes/soup">Soups</a>
    <a class="btn btn-success m-2" href="/dishes/appetizers">Appetizers</a>
    <a class="btn btn-success m-2" href="/dishes/dishes">Dishes</a>
    <a class="btn btn-success m-2" href="/dishes/drink">Drinks</a>
    <a class="btn btn-success m-2" href="/dishes/desserts">Desserts</a>

    @await Html.PartialAsync("_Footer")
    <script src="~/assets/index.js"></script>
</body>