@model RestaurantSystem.Models.View.Dish.DishesViewModel;

@{
    ViewData["Title"] = "Dishes";
}

<head>
    <link rel='stylesheet' type='text/css' media='screen' href='~/dishes/dish.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='~/index.css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>

    <script src="~/index.js"></script>
    <script src='~/dishes/dish.js'></script>
</head>


<body>

    <partial name="NavBar" model="Model.User" />
    <partial name="RestaurantBar" model="Model.Restaurant" />

        <button onclick="goToSalads()" id="dish">Salads</button>
        <button onclick="goToAppetizers()" id="dish">Appetizers</button>
        <button onclick="goToDishesFood()" id="dish">Dishes</button>
        <button onclick="goToDrinks()" id="dish">Drinks</button>
        <button onclick="goToDesserts()" id="dish">Desserts</button>


</body>