@model RestaurantSystem.Models.DatabaseModels.UserModel;
@{
    ViewData["Title"] = "Manage Deliveries";
}


<head>
    @await Html.PartialAsync("_Header")
    <script src="~/assets/staff/manager/manager.js"></script>
</head>


<body>
    @await Html.PartialAsync("_StaffNavBar", Model)
    @await Html.PartialAsync("_RestaurantBar", Model.Restaurant)
    @await Html.PartialAsync("_ManagerNavBar")


    @await Html.PartialAsync("_Footer")
</body>
