@model RestaurantSystem.Models.View.Reservation.ReservationFormViewModel;
@{
    ViewData["Title"] = "Reservation";
}

<head>
    @await Html.PartialAsync("_Header")

    <script src='~/assets/reservations/reservations.js'></script>
</head>


<body>
    @await Html.PartialAsync("_NavBar", Model.User)

    @await Html.PartialAsync("_RestaurantBar", Model.Restaurant)

    <h1>Create a new Reservation</h1>

    <div>
        <div class="input_center">
            <p>Amount of Adults</p>
            <input type="number" min="1" name="adults" id="adults" value="0" />
        </div>

        <div class="input_center">
            <p>Amount of Children</p>
            <input type="number" min="0" id="children" value="0" />
        </div>

        <div class="input_center">
            <p>Notes</p>
            <textarea id="notes" cols="40" rows="6" maxlength="255" placeholder="Notes"></textarea>
        </div>

        <div class="input_center">
            <p>Reservation At</p>
            <input type="date" id="at_date" />
            <input type="time" id="at_time" />
        </div>

        <p id="reservation_status"></p>

        <div class="noselect reserve">
            <button type="button" onclick="submit()">Reserve</button>
        </div>
    </div>

    @await Html.PartialAsync("_Footer")
    <script src="~/assets/index.js"></script>
</body>