body {
    background-color: rgb(196, 196, 196);
}


.menu {
    flex-direction: row;
    background-color: rgb(120, 120, 120);
    align-items: center;
    border-radius: 20px;
    text-align: center;
    color: white;
    
}




#dish {
    padding-left: 40px;
    padding-right: 40px;

    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    color: white;
    background-color: rgb(144, 144, 144);
    border-radius: 20px;
}









.food_name {
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 18px;
    text-align: left;
}

.food_grams {
    margin-bottom: 20px;
    margin-right: 15px;
    font-size: 15px;
    color: rgb(155, 155, 155);
    text-align: left;
}


.food_price {
    margin-right: 20px;
    font-size: 18px;
    text-align: left;
}


.food_image {
    border-radius: 5px;
    width: 300px;
}


#order {
    font-size: 20px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: rgb(21, 232, 42);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    cursor: pointer;
}

#whole_food {
    background-color: white;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
}


.quantity p {
    padding: 10px;
    font-size: 18px;
    height: 30px;
    width: 30px;
}

.quantity input {
    width: 50px;
}

.remove_dish {
    border-radius: 20px;
    background-color: rgb(207, 40, 40);
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 10px;
    display: inline-block;
    color: white;
    font-weight: 600;
    cursor: pointer;
}


.add_dish {
    background-color: rgb(62, 207, 40);
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 27px;
    margin: 10px;
    display: inline-block;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.food {
    cursor: pointer;
    opacity: 100%;
}

.food-opacity {
    cursor: pointer;
    opacity: 50%;
}


.restorant {
    align-items: center;
}