@using RestaurantSystem.Models.View.Admin
@model DishesViewModel

@{
    ViewData["Title"] = "Cook";
}

<head>
    @await Html.PartialAsync("_Imports")
</head>


<body>
    @if (Model.Error != null)
    {
        <h1>Error</h1>
        <h2>@Model.Error</h2>
    }



</body>



