@model RestaurantSystem.Models.DatabaseModels.UserModel

@{
    ViewData["Title"] = "Staff";
}


<head>
    @await Html.PartialAsync("_Header")
</head>

<body>

    @await Html.PartialAsync("_StaffNavBar", Model)

    @await Html.PartialAsync("_RestaurantBar", Model.Restaurant)

    <h1>Home Staff Page</h1>

    @await Html.PartialAsync("_Footer")
</body>
