@model RestaurantSystem.Models.DatabaseModels.UserModel

@{
    ViewData["Title"] = "Staff";
}


<head>
    @await Html.PartialAsync("_Imports")
</head>

<body>

    <p>Logged in as: @Model.Name</p>

    @if (Model.Image != null)
    {
        <img hight="500" width="500" src="~@Model.Image">
    }

    <h1>Hi. Staff Page</h1>

</body>
