@using RestaurantSystem.Enums
@using RestaurantSystem.Models.DatabaseModels
@using RestaurantSystem.Models.View.Staff.Waitress
@model OrderDetailsViewModel;
@{
    ViewData["Title"] = "Create Order";
}

<head>
    @await Html.PartialAsync("_Header")
    <script src="~/assets/dishes/dish.js"></script>
    <script src="~/assets/staff/waitress/order_create_staff.js"></script>
</head>

<body>
    @await Html.PartialAsync("_StaffNavBar", Model.Staff)

    @await Html.PartialAsync("_RestaurantBar", Model.Staff.Restaurant)

    <a class="btn btn-primary m-2" href="/staff/orders/dishes">Chose Dishes to Order</a>

    <div class="card card-body m-3">
        <h4 class="card-title">Make an Order</h4>

        <div class="container">
            <p class="card-text">Dishes</p>
            @await Html.PartialAsync("_CartDishes", Model.Dishs)
        </div>

        <div>
            <label for="table" class="form-label">Table Number</label>
            <input type="text" id="table" class="form-control" placeholder="Table Number">
        </div>

        <div>
            <label for="cupon" class="form-label">Cupon Code</label>
            <input type="text" id="cupon" class="form-control" placeholder="Cupon Code">
        </div>

        <div>
            <label for="notes" class="form-label">Notes</label>
            <textarea id="notes" class="form-control"></textarea>
        </div>

        <p id="error"></p>

        <button onclick="submit()" type="button" class="btn btn-success m-2">Order</button>
    </div>


    @await Html.PartialAsync("_Footer")
    <script src="~/assets/index.js"></script>
</body>