<div class="menu">

    <p class="part">Amount: {{Dish.Amount}}</p>

    <p class="part" >Dish Status: {{Dish.CurrentStatus}}</p>

    <p class="name">{{Dish.Name}}</p>

    <p class="grams">grams /{{Dish.Grams}}/</p>

    <p class="ingr">Ingredients: {{Dish.Ingredients}}</p>

    <image src="{{Dish.Image}}" class="image" alt="No image for now"></image>

    <p class="avg_time_to_took">Avrage time to cook: {{Dish.AvrageTimeToCook}} minute/s</p>

    <p class="price">{{Dish.Price}} lv.</p>

    {% if {{Dish.CurrentStatus}} == "pending" %}
    <button class="order noselect" 
        onclick="setStatus('{{Dish.OrderId}}', '{{Dish.Id}}', 'preparing')">Start preparing</button>
        {% endif %}
    {% if {{Dish.CurrentStatus}} == "preparing" %}
    <div class="row noselect">
        <button class="undo" 
        onclick="setStatus('{{Dish.OrderId}}', '{{Dish.Id}}', 'pending')">UnDo</button>

    <button class="order" 
        onclick="setStatus('{{Dish.OrderId}}', '{{Dish.Id}}', 'ready')">Ready</button>
    </div>
    {% endif %}
    {% if {{Dish.CurrentStatus}} == "ready" %}
    <button class="undo noselect" 
        onclick="setStatus('{{Dish.OrderId}}', '{{Dish.Id}}', 'preparing')">UnDo</button>

    {% endif %}

    <script>
        orderIds[Number('{{Dish.OrderId}}')].push(Number('{{Dish.Id}}'))
    </script>
</div>
