<div id="whole_food">

    {% if "{{Dish.IsAvailable}}" == "True" %}<div class="food" style="opacity: 100%;" onclick="goToDish('{{Dish.Id}}')">
    {% else %}
    <div class="food" style="opacity: 50%;">
    {% endif %}
        <p class="food_name">{{Dish.Name}}</p>
        <p class="food_grams">grams: /{{Dish.Grams}}/</p>
        {% if "{{Dish.Image}}".length > 0 %}
        <img class="food_image" src="{{Dish.Image}}">

        {% else %}
        <img>
        {% endif %}
        <p class="food_price">{{Dish.Price}} lv.</p>
    </div>

    <div>
        {% if "{{Dish.IsAvailable}}" == "True" %}
        <button id="order" style="opacity: 100%;"
                onclick="addDishToCart('{{Dish.Id}}', '{{Dish.Name}}')">
            Add to order
        </button>

        {% else %}
        <button id="order" style="opacity: 50%;">Add to order</button>
        {% endif %}
    </div>
</div>