<div class="reservation_view">

    <p class="status">CurrentStatus: {{Reservation.CurrentStatus}}</p>

    <div class="notes_view">
        <p class="notes_title">Notes: </p>
        <p class="notes">{{Reservation.Notes}}</p>
    </div>

    <p class="part">RestorantAddress: {{Reservation.RestorantAddress}} - {{Reservation.RestorantCity}} - {{Reservation.RestorantState}} - {{Reservation.RestorantCountry}}</p>

    {% if {{Reservation.DoDelivery}} %}
    <p class="part">Does home delivery</p>
    {% else %}
    {% endif %}

    <p class="part">Amount Of Adults: {{Reservation.Amount_Of_Adults}}</p>
    <p class="part">Amount Of Children: {{Reservation.Amount_Of_Children}}</p>
    <p class="part" id="{{Reservation.Id}}total"></p>

    <p class="part" id="{{Reservation.Id}}totalprice">Amount Of Children: {{Reservation.Amount_Of_Children}}</p>

    <p class="part" id="{{Reservation.Id}}atdate"></p>
    <p class="part" id="{{Reservation.Id}}createdat"></p>

    {% if "{{Reservation.CurrentStatus}}" != "pending" %}
    <button class="cancel" style="opacity: 50%">Cancel</button>
    {% else %}
    <button class="cancel" style="opacity: 100%" onclick="cancelReservation('{{Reservation.Id}}')">Cancel</button>
    {% endif %}

    <script>

        let amountChildren = Number('{{Reservation.Amount_Of_Children}}')
        let amountAdults = Number('{{Reservation.Amount_Of_Adults}}')

        let pricePerAdults = Number('{{Reservation.Price_Per_Adult}}')
        let pricePerChildren = Number('{{Reservation.Price_Per_Children}}')

        document.getElementById("{{Reservation.Id}}createdat").innerHTML = "Created At: " + new Date(Date.parse("{{Reservation.Created_At}}")).toLocaleString()
        document.getElementById("{{Reservation.Id}}atdate").innerHTML = "At Date: " + new Date(Date.parse("{{Reservation.At_Date}}")).toLocaleString()
        document.getElementById("{{Reservation.Id}}total").innerHTML = "Total People: "+ (amountAdults + amountChildren)

        document.getElementById("{{Reservation.Id}}total").innerHTML = "Total Price: "+ 
            Number(((pricePerAdults * amountAdults) + (pricePerChildren * amountChildren)).toFixed(2)) + ' lv.'

        regiseredReservations.push('{{Reservation.Id}}')
    </script>
</div>