body {
    background-color: coral;
}

.restaurant {
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    background-color: gray;
    padding: 20px;
    cursor: pointer;
}

.restaurant bold {
    font-weight: 50;
}
